- title "Modificación Proveedor"

= render 'form'

#enlacebotton
  = link_to 'Elimina', @proveedor, :confirm => '¿Estas seguro? Esta acción no se podra deshacer.', :method => :delete
  = link_to "Proveedores", proveedores_path
