a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 0px;
}

#container h1{
  float: none;
  color: #171D55;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  width: 75%;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors{
  color: red;
}
.field_with_errors input{
  border: 2px solid red;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 600px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
  margin-left: 25px;
}

/*****************************************************************/
/***************** Botones ***************************************/
.enlacebotton a {
  background: #B0B0B0;
  color: #ffffff;
  border: 2px ridge #808080;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
  margin-top: 20px;
  margin: 3px 10px 3px 3px;
}
.enlacebotton a:active {
  font-size: 13px;
}
.enlacebotton a:hover {
  background: #909090;
}
#enlacebotton a {
  background: #B0B0B0;
  color: #ffffff;
  border: 2px ridge #808080;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
  margin-top: 20px;
  margin: 3px 10px 3px 3px;
}
#enlacebotton a:active {
  font-size: 13px;
}
#enlacebotton a:hover {
  background: #909090;
}
.fields a:active {
  font-size: 13px;
}
.fields a:hover {
  background: #909090;
}
.fields a {
  background: #B0B0B0;
  color: #ffffff;
  border: 2px ridge #808080;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
  margin: 3px 10px 3px 3px;
}

body {
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	background:#f5f5f5 url(../images/footer_bg.gif) repeat-x center bottom;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:url(../images/header_bg.gif) repeat-x center top;
}
.logo {
	padding:0;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:29px 24px;
	float:left;
	color:#e4e5e5;
	font:bold 36px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#e4e5e5;
	text-decoration:none;
}
h1 span {
	color:#02c7fe;
}
h1 small {
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
	padding-left:8px;
	color:#e0e1e1;
}
h2 {
	font:normal 24px/1.5em Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#595959;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
a {
	color:#00c6ff;
	text-decoration:underline;
}
p.spec {
}
p.infopost {
	line-height:30px;
}
a.rm {
}
a.com {
}
/*******************************************************************/
/******* region header y menu_nav ***menu_admin*********************/
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar, .menu_admin {
	margin:0;
	padding:0;
}
.header {
}
.header_in {
	margin:0 auto;
	padding:0;
	width:970px;
}
img.hbg_img {
	margin:0 0 8px;
	padding:11px;
	background-color:#fff;
	border-bottom:2px solid #e7e7e7;
}
.menu_admin{
  float: right;
  bottom: 0;
}
.menu_admin ul li{
  list-style: none;
  float: left;
  text-decoration: none;
  padding: 0px 0px 2px 5px;
}
.menu_nav {
	margin:0 auto;
	padding:0;
	width:930px;
	height:48px;
	background:url(../images/menu.gif) repeat-x center top;
}
.menu_nav ul {
	list-style:none;
	height:48px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:13px 24px;
	color:#888;
	text-decoration:none;
	font-size:13px;
}
.menu_nav ul li a.active, .menu_nav ul li a:hover {
	color:#fff;
	background-color:#2b5c94;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#fff;
	background-color:#2b5c94;
}
/**************************************************************/
/***  region content  *****************************************/

.content {
}
.content_in {
	margin:0 auto;
	padding:0 0 24px;
	width:970px;
	background-color:#fff;
	border:2px solid #e7e7e7;
	border-top:none;
}
#content_left{
  float: left;
  width: 350px;
}
#content_right{
  float: left;
  margin-right: 20px;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:12px 24px;
	width:922px;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
}
.footer a {
	color:#959595;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
/***********************************************************/
/***************** menu de usuario *************************/

#user_nav{
  float: right;
}
/***********************************************************/
/*************** la clase clear ****************************/
.clear{
 clear: both;
 width: 100%;
 margin: 0px;
 padding: 0px;
}
/**************************************************************************/
/********************** tablas ********************************************/

th {
  background:url(/images/menu.gif) repeat-x center bottom;
  padding: 0px 8px 0px 8px;
}
table {
  margin: auto;
  border-spacing: 0px;
}
table.nh{
  margin: 0px;
}
table.nh td{
  width: 138px;
  text-align: center;
}
#quema td {
  width: 138px;
  text-align: center;
}
#quemador th , #quemador td {
  width: 180px;
  text-align: center;
}
td {
  text-align: center;
  padding: 5px 8px 3px 8px;
}
tr.odd {
	background: #E4E7E7;
}
/********************************************************************/
/***************  formularios **************************************/
#prueba_fecha_3i ,#prueba_fecha_4i, #prueba_fecha_5i {
  width: 45px;
}
#prueba_fecha_2i, #prueba_fecha_1i {
  width: 100px;
}
.fields input, select {
  width: 150px;
}
ol li label {
  text-align: left;
  width: 100px;
  display: block;
  float: left;
}
ol li{
  list-style: none;
  margin: 5px 0px 5px 0px;
}
#left{
  float: left;
  width: 60%;
}
#right{
  float: left;
}
/*****************************************************************/
/************* vistas   ******************************************/

.vista{
  display: block;
  float: left;
  width: 16%;
}
