%ol
  %li
    =control_fields.label :valor_x
    =control_fields.text_field :valor_x
    %br
  %li
    =control_fields.label :valor_y
    =control_fields.text_field :valor_y
    %br
  %li
    =control_fields.label :valor_z
    =control_fields.text_field :valor_z
    %br
