-#= medicion_fields.object.quemador.nombre
= medicion_fields.label :operario
= medicion_fields.text_field :operario
%br
= medicion_fields.label :velocidad_horno
= medicion_fields.text_field :velocidad_horno
